/* Declaração de variáveis */
:root {
  --bg-color: #ebebeb;
  --input-bg: #efefef;
  --input-placeholder: #d4d4d4;
  --texto-destaque: #ffff;
  --azul-destaque: #2a7ae4;
  --bg-contato: #eaf2fd;
}

/* Normalização Navegador */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

/* Padrões de projeto */
textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
  padding: 2%;
}

a {
  text-decoration: none;
  color: var(--azul-destaque);
  font-weight: 800;
}

button {
  cursor: pointer;
}

/* Cabeçalho */

.cabecalho {
  display: flex;
  align-items: center;
  padding: 2rem 10rem;
  background-color: var(--texto-destaque);
}

.barra_pesquisa {
  margin-left: 3rem;
  flex-grow: 1;
}

.barra_pesquisa__input {
  width: 22rem;
  height: 2.5rem;
  padding: 1px 3px;
  border-radius: 20px;
  background-image: url(/img/Vectorlupa.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 322px;
  background-color: var(--input-bg);
  border: none;
}

/* Área de login */

.arealogin{
  width: 100vw;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arealogin_sessao{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30rem;
  gap: 1rem;
}

.input_login, .arealogin_button{
  height: 3rem;
  border-color: var(--bg-contato);
  border: 0;
   outline: 0;
}

.input_login{
  padding-left: 10px;
}
.arealogin_sessao__titulo{
  font-weight: 700;
}

.arealogin_button{
  border-style: none;
  background-color: var(--azul-destaque);
  font-size: 1rem;
  color: var(--texto-destaque);
}
/* Fale conosco */

.faleconosco{
  background-color: var(--bg-contato);
  margin-top: 5rem;
  height: 20rem;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  
}

.faleconosco_conteudo{
  display: flex;
  gap: 11rem;
}

.faleconosco_links{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faleconosco_form{
  display: flex;
  flex-direction: column;
 
}

.faleconosco_titulo{
  font-weight: 600;
  margin-top: 0;
}

.faleconosco_form, .form_nome, .form_mensagem{
  width: 30rem;
  height: 14rem;
  margin-bottom: 1rem;
}

.form_mensagem{
  height: 20rem;
}

.form_nome, .form_mensagem{
 padding-left: 1rem;
 border-color: var(--bg-contato);
 border: 0;
 outline: 0;
}

.form_nome::placeholder, .form_mensagem::placeholder{
  position: relative;
  bottom: 10px;
  right: 20px;
  font-size: 1rem;
  padding-top: 1rem;
  border-style: none;
  
}

.faleconosco_button{
  border-style: none;
  background-color: var(--azul-destaque);
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  color: var(--texto-destaque);
  width: 12rem;
}

.footer{
  padding: 1rem;
  background-color:var(--texto-destaque)
}
